body {
    background-color: #ecaa54;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    width: 500px;
}
h3 {
    color: #7d0633;
    font-size: 20px;
    
}
h4 {
    color: #0f3460
}

table {
    text-align: left;
    margin: auto;
    width: 300px;
}

ul {
    display: inline-block;
    text-align: left;
}
.italic {
    font-style: italic;
}
.story {
    text-align: justify;
}