body {
    background-color: #fff8cd;

}
h3 {
    color: #7d0633;
    font-family: 'Courier New', Courier, monospace;
}
h4 {
    color: #0f3460
}
.class {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #ad5421;
    padding: 10px;
}